body {
    font-family: 'Montserrat ', sans-serif;
    color: rgb(204, 69, 69);
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
    
}

a {
    color: $mainOrange;
}