.about-hero {
    position: relative;

    &__image {
        display: block;
    }

    &__text-content {
        padding-top: 88px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        text-align: right;

        @mixin atMedium {
        padding-top: 60px;
        }
    }

    &__title {
        font-weight: 350;
        color: $mainWhite;
        margin: 0;
        font-size: 1.6rem;

        @mixin atSmall {
            font-size: 2.5rem;
        }

}


    &__description {
        color: $mainWhite;
        font-size: 1.1rem;
        font-weight: 100;
        max-width: 30rem;

@mixin atSmall {
    font-size: 1rem;
}

    }

}