.btn {
background-color: $mainWhite;
box-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
color: #000000;
text-decoration: none;
padding: .75rem 1.2rem;
display: inline-block;
border-radius: 28px;
font-size: .7rem; 

@mixin atMedium {
padding: 1rem 1.8rem; 
font-size: 1rem; 
}
}

