.feature-item {
    position: relative;
    margin: 25px auto 25px auto;
    padding-bottom: 2.5rem;
    

    @mixin atSmall {
        padding-left: 10px;
        
    }

    &__icon {
            display: block;
            margin: 0 auto;
            
    }

    &__title {
        font-size: 1.6rem;
        font-weight: 300;
        margin-top: .7em;
        margin-bottom: .8rem;
        text-align: center;
        

        @mixin atSmall {
            text-align: center;
            font-size: 1.6rem;
            
           
        }
    }

    &__description {
        font-size: 1rem;
        margin-top: .7em;
        margin-bottom: .8rem;
        text-align: center;  
        
        }

        @mixin atSmall {
            text-align: center;
            font-size: 1.2rem;
            margin-top: 3em;
           
        }
    }
