.feature-item {
    margin:25px auto 25px auto;
        background-position: center 5px;
        background-repeat: no-repeat;
        background-size: 100px 100px;
        background-position: 0;
    
        padding-bottom: 2.5rem;
    

    @mixin atSmall {
        padding-left: 20px;
        
    }

    &__icon {
        display: block;
        
    
    }

    &__title {
        font-size: 1.6rem;
        font-weight: 300;
        margin-top: .7em;
        margin-bottom: .8rem;
        text-align: center;
        

        @mixin atSmall {
            text-align: center;
            font-size: 1.2rem;
            margin-top: 3em;
           
        }
    }

    &__description {
        font-size: 1rem;
        margin-top: .7em;
        margin-bottom: .8rem;
        text-align: center;  
        
        }

        @mixin atSmall {
            text-align: center;
            font-size: 1.2rem;
            margin-top: 3em;
           
        }
    }
