.headline {
font-weight: 300;
font-size: 1.7rem;
color: $mainWhite;

@mixin atSmall {
    font-size: 2.2rem;
}
&--centered {
    text-align: center;

    @mixin atSmall {
        text-align: center;
    }
    
}

&__text-content {
    padding-top: 88px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;

    @mixin atMedium {
    padding-top: 60px;
    }
}

/* mobile */
&__description {
    color: $mainWhite;
    font-size: 1rem;
    font-weight: 100;
    max width: 17.563rem;

    @mixin atSmall {
    align-text: center;    
    }

/* desktop*/    
@mixin atSmall {
font-size: 1.5rem;
max width: 34.0625rem;  
    }
}


}
&--narrow {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;    
}


&--strong {
    font-weight: 400;

}

&--b-margin-small {
margin-bottom: .5em;
}

&--b-margin-large {
margin-bottom: 1.6em;
}

&--no-t-margin {
    margin-top: 0;
    }

