.large-hero {
    position: relative;

    &__image {
        display: block;
    }

    &__text-content {
        padding-top: 88px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        text-align: center;

        @mixin atMedium {
        padding-top: 60px;
        }
    }

    &__title {
        font-weight: 350;
        color: $mainWhite;
        margin: 0;
        font-size: 2rem;
        

        @mixin atMedium {
            font-size: 2.5rem;
        }

        @mixin atSmall {
            font-size: 2.5rem;
        }
}

/* mobile */
    &__description {
        color: $mainWhite;
        font-size: 1.1rem;
        font-weight: 100;
        max width: 17.563rem;
        margin: 15px;
    
/* desktop*/    
@mixin atSmall {
    font-size: 1.5rem;
    max width: 34.0625rem;  
        }
    }

}
